button,
div,
form,
input {
  margin: 10px;
}

.wrapper{
  display: grid;
  height: 100vh;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 80%;
}

#buttons-view{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gifs-appear-here{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#input{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

button{
  outline-color: transparent;
  outline-style: none;
}

.giphy:hover{
  cursor: pointer;
}

#name-input{
  height: 2em;
  width: 12em;
}